.image-container {
    contain: content;
    position: relative;

    overflow: hidden;
    border-radius: 4px;
}

.img {
    display: block;

    object-fit: cover;
    max-width: 100%;

    border-radius: 4px;
}

.swap {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    /* filter: bl; */

    position: absolute;
    inset: 0;

    font-size: 1rem;
    color: transparent;
    background-color: transparent;

    transition: backdrop-filter 50ms ease-in-out,
        background-color 50ms ease-in-out;

    z-index: 10;
}

.delete-btn:hover {
    --backdrop: 2px;
    -webkit-backdrop-filter: blur(var(--backdrop));
    backdrop-filter: blur(var(--backdrop));

    color: white;
    background-color: rgba(0, 0, 0, 0.435);
}
