.bar {
    padding: 5px;

    color: rgb(255, 255, 255);

    background-color: rgb(234, 234, 234);

    position: relative;

    isolation: isolate;

    border-radius: 0.4rem;
    overflow: hidden;

    /* mix-blend-mode: exclusion; */
}

.bar > p {
    mix-blend-mode: difference;

    width: max-content;

    font-weight: 500;
    font-size: 1.1rem;

    letter-spacing: 0.07rem;
}

.bar::before {
    content: "";

    position: absolute;
    z-index: -1;

    top: 0;
    bottom: 0;
    left: 0;

    width: var(--percent);

    background-color: rgb(36, 30, 225);
    border-radius: 0.4rem;
}
