.form {
    max-width: 35%;

    display: flex;
    align-items: center;
}

.input {
    max-width: 100%;
    flex: 1;

    font-size: 1.3rem;

    border: transparent;
    outline: transparent;
    background-color: transparent;

    border-radius: 5px;
    padding-inline: 5px;
    margin-inline-end: 5px;

    cursor: pointer;
}

.input:focus-visible {
    outline: 1px solid black;
    cursor: auto;
}

.icon {
    transform: scale(var(--icon-scale));
    cursor: pointer;
    color: gray;
}
