.container {
    grid-column: span 11;
    display: flex;

    justify-content: center;

    height: 100%;
    min-height: 90vh;

    /* min-width: 20rem; */
    /* width: 38rem; */
    /* max-width: 45rem; */

    flex-direction: column;
}
