.card {
    contain: content;
    display: flex;
    flex-direction: column;

    background-color: var(--card-bg-color);

    color: black;

    margin-block: 0.8rem;

    width: 100%;

    gap: 0.5rem;

    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
}

.options {
    position: absolute;

    display: flex;

    top: 2.5rem;
    right: 0;

    padding: 0.5rem;

    background-color: salmon;
}
