.card {
    display: flex;
    flex-direction: column;

    background-color: var(--card-bg-color);

    color: black;

    margin-block: 0.8rem;

    width: 100%;

    gap: 0.5rem;

    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
}

.header {
    /* width: 90%; */
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgb(189, 189, 189);

    padding: var(--card-padding);

    position: relative;
}

.delete-btn {
    outline: transparent;
    border: transparent;
    background-color: transparent;

    cursor: pointer;
    color: rgb(123, 123, 123);

    padding: 0.5rem;
    border-radius: 5px;

    font-size: 1rem;
}

.card-body {
    display: flex;
    padding: var(--card-padding);
}

.options {
    position: absolute;

    display: flex;

    top: 2.5rem;
    right: 0;

    padding: 0.5rem;

    background-color: salmon;
}
