.snapshots-container {
    contain: strict;
    grid-column: span 7;

    margin-block-start: 0.5rem;

    /* height: 300px; */

    overflow-y: scroll;

    /* flex: 4; */

    gap: 0.2rem;
}

.snapshots-container::-webkit-scrollbar {
    visibility: hidden;
    width: 10px;
}

.snapshots-container:hover::-webkit-scrollbar {
    visibility: visible;
}

.snapshots-container:hover::-webkit-scrollbar-thumb {
    background-color: rgb(77, 77, 206);
    border-radius: 20px;
}

.snapshots-container:hover::-webkit-scrollbar-track {
    background-color: rgb(213, 219, 255);
    border-radius: 20px;
}

.amount-counter {
    max-width: 100%;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: var(--card-bg-color);

    font-size: 0.9rem;
    font-weight: 600;

    color: rgb(80, 80, 80);

    z-index: var(--z-idx-4);
}

.image-container {
    margin-block-start: 0.4rem;

    padding-inline: 0.3rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3.8rem, 1fr));

    gap: 0.2rem;

    flex-wrap: wrap;

    width: 100%;
}
