.snapshots-container {
    margin: 0.5rem;

    height: 300px;

    overflow-y: scroll;

    flex: 4;

    gap: 0.2rem;
}

.snapshots-container::-webkit-scrollbar {
    visibility: hidden;
    width: 10px;
}

.snapshots-container:hover::-webkit-scrollbar {
    visibility: visible;
}

.snapshots-container:hover::-webkit-scrollbar-thumb {
    background-color: rgb(77, 77, 206);
    border-radius: 20px;
}

.snapshots-container:hover::-webkit-scrollbar-track {
    background: rgb(213, 219, 255);
    border-radius: 20px;
}

.image-container {
    display: flex;

    gap: 0.2rem;

    flex-wrap: wrap;
}

.amount-counter {
    font-size: 0.9rem;
    font-weight: 600;

    color: rgb(80, 80, 80);

    max-width: 100%;
}

.swap {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.helper-div {
    width: 31%;
    max-width: 33%;

    position: relative;

    overflow: hidden;
    border-radius: 4px;
}

.img {
    display: block;

    object-fit: cover;
    max-width: 100%;
}

.helper-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    inset: 0;

    font-size: 1rem;
    color: transparent;
    background-color: transparent;

    transition: background-color 50ms ease-in-out;
}

.helper-btn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.435);
}
