.menu-container {
    position: relative;

    border-top: 1px solid var(--inner-line-clr);

    margin-block: 0.5rem;
    margin-inline: calc(var(--training-area-pd) * -1);

    padding-inline: var(--training-area-pd);
    padding-block: 0.4rem;
}

.menu {
    font-family: "Poppins", sans-serif;
    position: absolute;

    display: flex;
    flex-direction: column;

    height: 0;
    width: 100%;

    background-color: var(--bg-color-light-blue);

    overflow: hidden;
    visibility: hidden;
    pointer-events: none;

    top: var(--input-height);
    left: 0;
    right: 0;

    border-radius: 0.5rem;

    outline: 1px solid hsl(235, 90%, 81%);
}

.title {
    margin-block-end: 0.5rem;
}

.trigger {
    position: relative;

    display: flex;
    align-items: center;
    /* justify-content: center; */

    font-size: 0.9rem;

    height: var(--input-height);
    width: 60%;

    background-color: var(--bg-color-light-blue);
    color: var(--bg-color-deep-blue);

    padding: var(--input-pd-y) var(--input-pd-x);
    padding-inline-end: 0;

    cursor: default;
}

.trigger p {
    margin-inline-end: auto;
}

.menu > ul {
    display: contents;
}

.menu-item {
    width: 1fr;
    cursor: pointer;

    padding: 0.4rem 0.8rem;

    -webkit-user-select: none;
    user-select: none;

    list-style: none;

    background-color: var(--bg-color-light-blue);
    color: var(--bg-color-deep-blue);
}

.menu-item:hover {
    color: var(--bg-color-light-blue);
    background-color: var(--bg-color-deep-blue);
}

.active {
    visibility: visible;
    pointer-events: all;

    height: min-content;
    z-index: 10;
}

.menu-active {
    outline-offset: 1px;
    outline: 2px solid var(--bg-color-deep-blue-lighter);
}

.icon {
    display: flex;
    align-items: center;

    font-size: 1.2rem;

    height: var(--input-height);

    margin-inline-start: 1rem;

    padding: 0 0.8rem;

    color: var(--bg-color-light-blue);
    background-color: var(--bg-color-deep-blue);
}

.more-info {
    display: flex;

    font-size: 1rem;

    color: rgb(145, 145, 145);
    margin-inline-start: auto;
}

.more-info::before {
    opacity: 0;

    transition: opacity 100ms ease-in-out;
}

.more-info:hover::before {
    content: attr(data-info-text);
    position: absolute;

    font-size: 1rem;

    inset: 0;
    opacity: 1;

    width: calc(100% - var(--training-area-pd));
    height: min-content;

    padding: 0.5rem;
    margin: auto;

    border-radius: 0.3rem;

    background-color: rgba(0, 0, 0, 0.95);
    color: white;

    pointer-events: none;

    z-index: 30;
}

.cosmetic {
    width: 1.2rem;
    height: 1.2rem;

    font-size: inherit;

    background-color: transparent;

    border-radius: 50%;

    outline: 2px solid currentColor;
    outline-offset: 1px;
}

.test {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
}
