.container {
    position: relative;
    display: flex;

    width: 20rem;

    height: var(--inner-height, 100vh);
    min-height: 100vh;
}

.main-area {
    position: -webkit-sticky;
    position: sticky;

    top: 50%;
    transform: translateY(-50%);

    height: 25rem;
    width: 100%;

    padding: 10px;

    box-shadow: var(--card-shadow);

    background-color: hsl(49, 79%, 72%);
}

.train-btn {
    outline: transparent;
    border: transparent;

    cursor: pointer;

    padding: 5px 10px;
}
