.container {
    --options-height-min: 5rem;
    --options-height: 9rem;
    --options-height-max: 12rem;

    position: relative;
    display: flex;

    min-width: 9rem;
    width: 13.5rem;
    max-width: 15rem;

    height: var(--inner-height, 100vh);
    min-height: 100vh;
}

.main-area {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: -webkit-sticky;
    position: sticky;

    border-radius: var(--card-border-radius);

    top: 50%;
    transform: translateY(-50%);

    /* height: 15rem; */
    min-height: 10rem;

    gap: 1.1rem;

    height: min-content;

    width: 100%;

    padding: 10px;

    box-shadow: var(--card-shadow);

    background-color: var(--card-bg-color);
}

.main-area > h3 {
    width: 100%;
    cursor: default;
}

.main-area::before {
    content: "";

    position: absolute;

    left: 0;
    right: 0;
    top: 2.4rem;

    width: 100%;

    background-color: rgb(189, 189, 189);
    height: 1px;
}

.train-btn {
    margin-block: auto;

    outline: transparent;
    border: transparent;

    cursor: not-allowed;

    padding: 10px 15px;

    border-radius: 5px;

    width: 100%;
    font-size: 0.9rem;

    font-weight: 600;

    background-color: rgb(227, 227, 227);
    color: rgb(101, 101, 101);
}

.train-btn.all-gathered {
    color: rgb(45, 100, 250);

    cursor: pointer;
    background-color: rgb(213, 220, 255);
}

.warn {
    position: absolute;
    bottom: 10px;

    width: 95%;

    padding: 10px;
    border-radius: 5px;

    background-color: rgb(255, 237, 233);
    color: rgb(254, 79, 48);

    z-index: 3;

    pointer-events: none;

    outline: 2px solid tomato;

    transform: translateY(50%);
}

.options {
    display: flex;
    flex-direction: column;

    padding-block: 1rem;

    min-height: var(--options-height-min);
    height: var(--options-height);
    max-height: var(--options-height-max);

    width: 100%;

    background-color: rgb(246, 185, 185);
}

.options-form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.options-btn {
    margin-block: auto;

    padding: 10px;
    background-color: rgb(31, 31, 137);
    color: white;

    border-radius: 5px;
}

.options-btn:disabled {
    background-color: gray;
    color: white;

    cursor: auto;
}
