.main-area {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: -webkit-sticky;
    position: sticky;

    border-radius: var(--card-border-radius);

    top: 50%;
    transform: translateY(-50%);

    min-height: 10rem;

    gap: 0.4rem;

    height: max-content;

    width: 100%;

    box-shadow: var(--card-shadow);

    background-color: var(--card-bg-color);
}

.main-area > h3 {
    width: 100%;
    cursor: default;

    padding: var(--training-area-pd);
}

.main-area::before {
    content: "";

    position: absolute;

    left: 0;
    right: 0;
    top: 2.4rem;

    width: 100%;

    background-color: var(--inner-line-clr);
    height: 1px;
}

.warn {
    position: absolute;
    bottom: 10px;

    width: 95%;

    padding: var(--training-area-pd);
    border-radius: 5px;

    background-color: rgb(255, 237, 233);
    color: rgb(254, 79, 48);

    z-index: 20;

    pointer-events: none;

    outline: 2px solid tomato;

    transform: translateY(50%);
}
