.options {
    display: flex;
    flex-direction: column;

    padding-block: 1rem;
    padding-inline: var(--training-area-pd);

    min-height: 10rem;
    /* height: min-content; */

    width: 100%;

    /* background-color: rgb(246, 185, 185); */

    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.options-form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;

    max-width: 100%;
}

.label > h4 {
    font-weight: 400;
    margin-block-end: 0.4rem;
}

.label > input {
    max-width: 100%;
    width: 30%;
}

.opt {
    padding: 0.4rem 0.6rem;

    border: 3px solid salmon;
}

.opt-warn {
    color: rgb(221, 65, 37);
    background-color: rgb(255, 239, 236);

    outline: 1px solid currentColor;
}
