.options {
    display: flex;
    flex-direction: column;

    padding-block-end: 1rem;
    padding-inline: var(--training-area-pd);

    min-height: 10rem;
    /* height: min-content; */

    width: 100%;

    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.options-form {
    display: flex;
    flex-direction: column;

    gap: 0.1rem;

    width: 100%;
}
