.options {
    display: flex;
    flex-direction: column;

    padding-block-end: 1rem;
    padding-inline: var(--training-area-pd);

    min-height: 10rem;
    /* height: min-content; */

    width: 100%;

    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.options-form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;

    max-width: 100%;
}

.label > h4 {
    font-weight: 400;
    margin-block-end: 0.4rem;
}

.label > input {
    border: transparent;
    outline: transparent;

    outline: var(--bg-color-deep-blue-lighter);

    max-width: 100%;
    width: 50%;

    height: var(--input-height);
    padding: var(--input-pd-y) var(--input-pd-x);

    background-color: var(--bg-color-light-blue);
    color: var(--bg-color-deep-blue);
}

.label > input:focus {
    outline: 2px solid var(--bg-color-deep-blue-lighter);
}

.epochs-input {
    /*  */
}

.default-btn {
    display: flex;

    justify-content: space-around;
    align-items: center;

    background-color: var(--bg-color-deep-blue);
    color: var(--bg-color-light-blue);

    padding: 0.5rem 1rem;
    border-radius: 0.2rem;

    margin-block-start: 0.5rem;
}
