.video-container {
    contain: content;
    grid-column: span 9;

    display: flex;
    align-items: center;

    flex-direction: column;

    /* width: 7rem; */

    position: relative;
    /* flex: 5; */

    padding: 10px;

    border-radius: var(--card-border-radius);

    margin: 0.5rem;
}

.current {
    outline: 2px solid var(--card-outline-clr);

    background-color: var(--bg-color-light-blue);
}

.top-panel {
    display: flex;
}

.top-panel:first-child {
    margin-inline-start: auto;
}

.top-panel > button {
    color: var(--bg-color-deep-blue);
    font-size: 1.5rem;

    width: 2rem;
    height: 2rem;

    border: transparent;
    outline: transparent;
    cursor: pointer;

    background-color: transparent;
    transition: color 70ms ease-in-out;
}

.top-panel > button:hover {
    color: var(--bg-color-deep-blue-lighter);
}

.cancel-video-btn {
    position: relative;
}

.cancel-video-btn::after {
    opacity: 0;

    content: "Закрыть";

    font-size: 0.8rem;

    position: absolute;

    right: 0;
    bottom: 0;

    transform: translate(25%, 100%);

    padding: 5px;

    color: white;

    height: min-content;
    /* color: black; */

    background-color: rgb(19, 14, 104);
    border-radius: 5px;

    z-index: var(--z-idx-2);

    pointer-events: none;
}

.cancel-video-btn:hover::after {
    transition: opacity 100ms ease-in-out;
    transition-delay: 700ms;

    opacity: 1;
}

.canvas {
    /* position: fixed; */
    outline: 1px solid var(--card-outline-clr);
    border-radius: 0.8rem;
    width: 100%;

    aspect-ratio: 1/1;
    object-fit: cover;

    background-color: black;

    z-index: var(--z-idx-5);
    pointer-events: none;

    /* transform: translate(0%, 50%); */
}

.canvas-mini {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}
