.video-container {
    display: flex;
    align-items: center;

    flex-direction: column;

    width: 7rem;

    position: relative;
    flex: 1;

    padding: 10px;

    border-radius: var(--card-border-radius);

    margin: 0.5rem;
}

.video-container.current {
    outline: 2px solid rgb(134, 134, 255);

    background-color: rgb(240, 240, 255);
}

.cancel-video-btn {
    width: 2rem;
    height: 2rem;

    font-size: 1.5rem;

    border: transparent;
    outline: transparent;
    cursor: pointer;

    background-color: transparent;

    margin-inline-start: auto;

    color: rgb(58, 72, 231);

    transition: color 70ms ease-in-out;

    position: relative;
}

.cancel-video-btn::after {
    opacity: 0;

    content: "Закрыть";

    font-size: 0.8rem;

    position: absolute;

    right: 0;
    bottom: 0;

    transform: translate(25%, 100%);

    padding: 5px;

    color: white;

    height: min-content;
    /* color: black; */

    background-color: rgb(19, 14, 104);
    border-radius: 5px;

    z-index: 10;

    pointer-events: none;
}

.cancel-video-btn:hover::after {
    transition: opacity 100ms ease-in-out;
    transition-delay: 700ms;

    opacity: 1;
}

.cancel-video-btn:hover {
    color: rgb(74, 90, 255);
}

.canvas {
    position: absolute;
    visibility: hidden;
}
