.button {
    display: flex;

    justify-content: space-around;
    align-items: center;

    background-color: transparent;
    color: var(--font-clr-gray);

    font-size: 0.9rem;

    padding: 0.5rem 1rem;
    border-radius: 0.2rem;

    margin-block-start: 0.5rem;

    transition: color 80ms ease-in-out, background-color 80ms ease-in-out;
}

.button:hover {
    color: var(--bg-color-deep-blue);
    background-color: var(--bg-color-light-blue);
}
