*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-color-card: hsl(228, 100%, 59%);
    --icon-scale: 1.1;

    --inner-height: 100vh;

    --card-bg-color: rgb(249, 249, 249);
    --card-padding: 0.5rem;
    --card-shadow: 0px 2px 3px rgba(0, 0, 0, 0.453);
    --card-border-radius: 0.6rem;

    --font-clr-gray: rgb(101, 101, 101);
    --bg-color-light-blue: rgb(240, 240, 255);

    --bg-color-deep-blue: rgb(58, 58, 204);
    --bg-color-deep-blue-lighter: rgb(74, 90, 255);

    --inner-line-clr: rgb(189, 189, 189);
    --training-area-pd: 10px;

    --app-bg-color: rgb(238, 238, 238);

    --input-height: 1.8rem;
    --input-pd-y: 0.2rem;
    --input-pd-x: 1rem;
}

body {
    width: 100%;

    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--app-bg-color);

    min-height: 100vh;
}

button {
    outline: transparent;
    border: transparent;

    cursor: pointer;
}

#root {
    display: block;
}

.App {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0.5rem 1.4rem;
    padding-top: 0;

    position: relative;
}

.main {
    display: flex;

    justify-content: center;

    flex: 1;

    height: 100%;
    width: 100%;
}

.warn {
    position: fixed;
    top: 5%;
    left: 10%;
    right: 10%;

    background-color: rgb(246, 56, 56);
    color: rgb(255, 233, 233);

    border-radius: 5px;

    padding: 10px 15px;

    z-index: 1000;
}

.visually-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    display: inline;
}

.line-sticky {
    position: -webkit-sticky;
    position: sticky;

    top: 50%;

    width: 100%;
    height: 2px;

    transform: translateY(-50%);

    background-color: rgb(180, 180, 180);
}

.App > header {
    font-family: "Poppins", sans-serif;
    --header-height: 3.5rem;

    height: var(--header-height);
}

.header {
    display: flex;
    align-items: center;

    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;

    padding: 0.4rem 1rem;
    height: var(--header-height);

    background-color: rgb(249, 254, 255);

    border-radius: 0.5rem;
    border-top-left-radius: 0;

    box-shadow: var(--card-shadow);

    font-size: 1.3rem;
    color: rgb(66, 97, 209);
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
