*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --card-padding: 0.5rem;
    --font-color-card: hsl(228, 100%, 59%);
    --icon-scale: 1.1;
}

body {
    background-color: rgb(227, 227, 227);
    font-family: Helvetica, Arial, sans-serif;

    width: 100vw;
    height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    position: relative;
}

.card-container {
    display: flex;

    width: -moz-fit-content;
    width: fit-content;

    flex-direction: column;
}

.main {
    display: flex;
}

.rightbar {
    margin-inline-start: auto;
}

.rightbar button {
    padding: 10px;
    background-color: orangered;

    outline: transparent;
    border: transparent;
    cursor: pointer;

    margin: 5px;
}

.rightbar + video {
    transform: rotateY(180deg);
}

.warn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: red;
    color: white;
}
