*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-color-card: hsl(228, 100%, 59%);
    --icon-scale: 1.1;

    --inner-height: 100vh;

    --card-bg-color: rgb(249, 249, 249);
    --card-padding: 0.5rem;
    --card-shadow: 0px 2px 3px rgba(0, 0, 0, 0.453);
    --card-border-radius: 0.6rem;
}

body {
    width: 100%;

    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(238, 238, 238);

    min-height: 100vh;
}

button {
    outline: transparent;
    border: transparent;

    cursor: pointer;
}

#root {
    display: block;
}

.App {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0.5rem 1.4rem;

    position: relative;
}

.main {
    display: flex;

    justify-content: center;

    flex: 1;

    height: 100%;
    width: 100%;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.warn {
    position: fixed;
    top: 5%;
    left: 10%;
    right: 10%;

    background-color: rgb(246, 56, 56);
    color: rgb(255, 233, 233);

    border-radius: 5px;

    padding: 10px 15px;
}

.visually-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    display: inline;
}

.line-div {
    min-width: 10px;
    width: 50px;
    max-width: 70px;

    height: var(--inner-height);

    position: relative;
}

.line-sticky {
    position: -webkit-sticky;
    position: sticky;

    top: 50%;

    width: 100%;
    height: 2px;

    transform: translateY(-50%);

    background-color: rgb(180, 180, 180);
}

.header {
    color: rgb(66, 97, 209);
}
