/* .container:not(.waiting) {
    display: flex;

    flex: 1;

    height: 300px;
    width: 300px;

    aspect-ratio: 1/1;

    align-items: center;

    position: relative;

    overflow: hidden;
    isolation: isolate;

    border-radius: var(--card-border-radius);
} */

/* .video {
    display: block;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background-color: black;

    margin-left: -15%;
    max-height: 100%;

    object-fit: cover;

    border-radius: 0.5rem;

    position: relative;
} */

.container {
    display: flex;

    flex: 1;

    width: 100%;

    align-items: center;

    position: relative;

    overflow: hidden;
    isolation: isolate;

    border-radius: var(--card-border-radius);
}

.video {
    display: block;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background-color: black;

    border-radius: 0.5rem;

    position: relative;

    max-width: 100%;
}

.video.swap {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}

.container.waiting::before {
    content: "";
    position: absolute;

    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;

    background-color: black;

    border-radius: 10px;

    z-index: -1;
}

.visually-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}
