.container {
    position: relative;

    display: flex;

    height: var(--inner-height, 100vh);
    min-height: 100vh;

    min-width: 15rem;
    width: 20rem;
    max-width: 35rem;

    isolation: isolate;
}

.main {
    position: -webkit-sticky;
    position: sticky;

    background-color: var(--card-bg-color);

    height: 15rem;
    width: 100%;

    top: 50%;
    transform: translateY(-50%);

    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);

    padding: 10px;
}

.video {
    max-width: 100%;
    transform: rotateY(180deg);
}
