.container {
    position: relative;

    display: flex;

    height: var(--inner-height, 100vh);
    min-height: 100vh;

    width: 25rem;

    isolation: isolate;
}

.main {
    position: -webkit-sticky;
    position: sticky;

    background-color: red;

    height: 25rem;
    width: 100%;

    top: 50%;
    transform: translateY(-50%);

    box-shadow: var(--card-shadow);
}

.video {
    transform: rotateY(180deg);
}
